id,name,model_id:id,group_id:id,perm_read,perm_write,perm_create,perm_unlink
access_${module_name}_acceptance_check_system,${acceptance_model}.system,${acceptance_model_xmlid},base.group_system,1,1,1,1
