{
    "name": ${display_name_literal},
    "version": "${version}",
    "category": ${category_literal},
    "summary": ${summary_literal},
    "description": ${description_literal},
    "author": "Odoo老赵",
    "website": "https://odoocc.com",
    "support": "156277468@qq.com",
    "license": "AGPL-3",
    "depends": ${dependencies_literal},
    "application": False,
    "installable": True,
}

